.heightFit {
  @apply h-fit;
}

.heightView {
  // @apply h-[calc(100vh-64px)];
  height: calc(100vh - 64px);
}

.scroll {
  &-container {
    @apply flex;
    width: 100%;
  }
  &-background {
    @apply relative;
    &-image {
      @apply absolute;
      width: 100%;
    }
  }
}

.background {
  @apply absolute object-none object-top h-full opacity-70 -z-40 bg-clip-padding;
  width: 100%;
}

.content-container {
  @apply mx-auto h-full flex flex-col items-center justify-between p-4 py-8
  lg:p-16;
  width: 100%;
  max-width: 72rem /* 1152px */;
  &-header {
    @apply flex flex-col items-center;
  }
  &-title {
    @apply flex flex-row items-center;
    &-text {
      @apply ml-2 mb-1 font-bold text-2xl
      sm:text-3xl lg:text-4xl;
    }
  }
  &-subtitle {
    @apply ml-2 font-normal text-base
    sm:text-xl lg:text-2xl;
  }
  &-icon {
    color: 'app.gray.light';
  }
  &-divider {
    @apply mt-3 border-0 border-b-2 border-solid;
    width: 5rem /* 80px */;
  }
}
