.project-card {
  @apply flex flex-col rounded-xl shadow-xl mt-5 pb-5
  sm:p-5;
  width: 100%;
  &-header {
    @apply flex flex-col items-center;
    width: 100%;
    &-title {
      @apply font-extrabold my-3 text-xl
      sm:text-3xl;
    }
    &-subtitle {
      @apply font-semibold mb-3 text-base
      sm:mt-3 sm:mb-9  sm:text-xl;
    }
  }
}

.content {
  @apply flex flex-col px-2
  sm:flex-row sm:px-6;
  &-slider {
    @apply mr-2 border h-fit;
    width: 100%;
  }
  &-main {
    @apply flex flex-col items-start pl-2 pt-4
    sm:pl-4 sm:pt-0;
    width: 100%;
    &-description {
      width: 100%;
      &-text {
        @apply mb-2 break-words text-sm
        sm:text-lg;
        width: 100%;
        max-width: 100%;
      }
      &-button {
        @apply my-2 pr-4;
        width: 100%;
      }
      &-divider {
        @apply h-4 border-0 border-b border-solid mt-2 mb-6;
        width: 100%;
      }
      &-list {
        @apply flex flex-row my-1;
        width: 100%;
        &-title {
          @apply flex flex-row mr-2;
          width: 33.333333%;
          &-text {
            @apply px-2 font-semibold text-xs grow
            sm:font-bold sm:text-base;
          }
        }
        &-detail {
          @apply pl-2 text-xs break-words
          sm:text-base;
          width: 66.666667%;
        }
      }
    }
  }
}

@media (min-width: 640px) {
  .content-slider {
    width: 66.666667%;
  }

  .content-main {
    width: 66.666667%;
  }
}

@media (min-width: 1024px) {
  .content-main {
    width: 66.666667%;
  }
}
