.skill {
  @apply flex flex-col items-center pt-3 grow justify-center
  md:flex-row md:items-start lg:px-5;
  width: 100%;
  &-left {
    @apply flex flex-col shrink-0
    lg:flex-row;
    width: 100%;
    &-box {
      @apply shrink-0
         width: 100%;
    }
  }
  &-right {
    @apply flex flex-col shrink-0 
    width: 100%;
    &-box {
      @apply shrink-0;
      width: 100%;
    }
  }

  &-masonry {
    @apply py-3;
  }
}

@media (min-width: 768px) {
  .skill-left {
    width: 50%;
  }

  .skill-right {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .skill-left {
    width: 66.666667%;
  }

  .skill-right {
    width: 33.333333%;
  }

  .skill-left-box {
    width: 50%;
  }
}
