.user-card {
  @apply flex flex-row items-center my-1;
  width: fit-content;
  &-icon {
    width: 2.5rem /* 40px */;
  }
  &-content {
    @apply ml-6;
    &-title {
      @apply text-sm
      lg:text-base;
    }
    &-subtitle {
      @apply text-sm
      lg:text-base;
    }
  }
}
