.img-card {
  @apply rounded-xl shadow-xl p-4 px-8 mx-8 mt-10 mb-4;
  &-title {
    @apply text-2xl italic underline underline-offset-2;
  }
  &-image {
    @apply rounded-lg mt-4 w-1/2;
  }
}

.img-card:hover {
  transform: translate(0, 5px);
  transition: all 0.1s ease-in-out;
}

.img-card:hover:after {
  transition: all 0.1s ease-in-out;
  transform: translate(0, -5px);
}

.img-card:hover:before {
  transition: all 0.1s ease-in-out;
  transform: translate(0, -5px);
}
