.introduction {
  @apply flex flex-col items-center pl-2 px-0 
  sm:px-5;
  width: 100%;
  &-row {
    @apply flex flex-col justify-between  my-5
    sm:flex-row;
    width: 100%;
  }
  &-profile {
    @apply flex flex-row items-center px-5;
    width: 100%;
    &-image {
      width: 20%;
    }
  }
}
