.introduction {
  @apply w-full flex flex-col items-center pl-2 px-0 
  sm:px-5;
  &-row {
    @apply flex flex-col justify-between w-full my-5
    sm:flex-row;
  }
  &-profile {
    @apply flex flex-row w-full items-center px-5;
    &-image {
      // @apply w-1/5;
      width: 20%;
    }
  }
}
